<!--suppress XmlUnboundNsPrefix -->
<a th:fragment="collapse-controll" class="collapse-control list-group-item list-group-item-action"
   data-toggle="collapse"
   href="#cars-collapse" role="button">Cars</a>

<div th:fragment="collapse-menu" class="collapse" id="cars-collapse">
    <a class="paginate-item list-group-item list-group-item-action" href="#c-get">
        <span class="material-icons">search</span>Get</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#c-post">
        <span class="material-icons">note_add</span>Post</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#c-put">
        <span class="material-icons">edit</span>Put</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#c-delete">
        <span class="material-icons">delete</span>Delete</a>
</div>

<div th:fragment="mobile-menu" class="btn-group">
    <button type="button" class="btn btn-light">Cars</button>
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#c-get">
            <span class="material-icons">search</span>Get</a>
        <a class="dropdown-item" href="#c-post">
            <span class="material-icons">note_add</span>Post</a>
        <a class="dropdown-item" href="#c-put">
            <span class="material-icons">edit</span>Put</a>
        <a class="dropdown-item" href="#c-delete">
            <span class="material-icons">delete</span>Delete</a>
    </div>
</div>

<section th:fragment="cars-docs" id="cars-doc" class="col">
    <header class="hidden"><h1>Car Documentation</h1></header>
    <article id="c-get" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Get Cars</h2>
            <p>To obtain all the cars, a request must be made to get to the route <span
                    class="badge badge-dark">/cars</span>. You can optionally specify the id of the
                car to look. For example: <span class="badge badge-dark">/cars/1</span>.</p>

            <div class="table-data">
                <h4>Returned data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Meaning</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>identification</td>
                    </tr>
                    <tr>
                        <td>model</td>
                        <td>Model</td>
                        <td>car model</td>
                    </tr>
                    <tr>
                        <td>equipment</td>
                        <td>Array&lt;Equipment&gt;</td>
                        <td>current equipment</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl <a
                    href="https://car-factory-api.herokuapp.com/cars"
                    target="_blank">https://car-factory-api.herokuapp.com/cars</a>
                | jq</p>
            <pre>[{"id":1,"price":302000.0,"model":{"id":3,"name":"COUPE","price":270000.0},"equipments":[{"id":5,"name":"Llantas de aleacion","price":12000.0},{"id":2,"name":"Aire acondicionado","price":20000.0}]}]</pre>
        </div>
    </article>

    <article id="c-post" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Post Cars</h2>
            <p>To save a car you only need to post to <span
                    class="badge badge-dark">/cars</span> with the data in the body of the
                request.</p>
            <p>To save a new car, all you have to do is indicate the model and a list of the desired
                equipment. For the model and the equipment it is only necessary to indicate its id.
            </p>
            <p>You will always need a model and a list of equipment that may or may not be empty.
            </p>

            <div class="table-data">
                <h4>Expected data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Importance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>model</td>
                        <td>Model</td>
                        <td>required</td>
                    </tr>
                    <tr>
                        <td>equipment</td>
                        <td>Array&lt;Equipment&gt;</td>
                        <td>optional</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --header "Content-Type:
                application/json"
                --request POST --data '{"model": { "id": 1 }, "equipments": [ {"id":1}, {"id":2},
                {"id":5} ]
                }'
                http://car-factory-api.herokuapp.com/cars | jq</p>
            <pre>{"id":2,"price":274000.0,"model":{"id":1,"name":"SEDAN","price":230000.0},"equipments":[{"id":5,"name":"Llantas de aleacion","price":12000.0},{"id":2,"name":"Aire acondicionado","price":20000.0},{"id":1,"name":"Techo corredizo","price":12000.0}]}</pre>
        </div>
    </article>

    <article id="c-put" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Put Cars</h2>
            <p>To update a car you only need to send a put request to <span
                    class="badge badge-dark">/cars</span> indicating the id. For example: <span
                    class="badge badge-dark">/cars/1</span>.</p>
            <p class="comment">* The body of the request follows the same pattern as the post
                method.</p>

            <div class="table-data">
                <h4>Expected data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Importance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>model</td>
                        <td>Model</td>
                        <td>required</td>
                    </tr>
                    <tr>
                        <td>equipment</td>
                        <td>Array&lt;Equipment&gt;</td>
                        <td>optional</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --header "Content-Type:
                application/json"
                --request PUT --data '{"model": { "id": 3 }, "equipments": [ {"id":1} ]
                }'
                http://car-factory-api.herokuapp.com/cars/2 | jq</p>
            <pre>
                                {"id":2,"price":282000.0,"model":{"id":3,"name":"COUPE","price":270000.0},"equipments":[{"id":1,"name":"Techo corredizo","price":12000.0}]}
                            </pre>
        </div>
    </article>

    <article id="c-delete" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Delete Cars</h2>
            <p>To delete a car, it is only necessary to make a delete request to the url <span
                    class="badge badge-dark">/cars/</span> indicating the id. For example: <span
                    class="badge badge-dark">/cars/1</span>.</p>
        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --request DELETE <a
                    href="http://car-factory-api.herokuapp.com/cars/1"
                    target="_blank">http://car-factory-api.herokuapp.com/cars/1</a>
            </p>
            <pre>"OK"</pre>
        </div>
    </article>

</section>