<!--suppress XmlUnboundNsPrefix -->
<a th:fragment="collapse-controll" class="collapse-control list-group-item list-group-item-action"
   data-toggle="collapse"
   href="#equipments-collapse" role="button">Equipments</a>

<div th:fragment="collapse-menu" class="collapse" id="equipments-collapse">
    <a class="paginate-item list-group-item list-group-item-action" href="#e-get">
        <span class="material-icons">search</span>Get</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#e-post">
        <span class="material-icons">note_add</span>Post</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#e-put">
        <span class="material-icons">edit</span>Put</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#e-delete">
        <span class="material-icons">delete</span>Delete</a>
</div>

<div th:fragment="mobile-menu" class="btn-group">
    <button type="button" class="btn btn-light">Equipments</button>
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#e-get">
            <span class="material-icons">search</span>Get</a>
        <a class="dropdown-item" href="#e-post">
            <span class="material-icons">note_add</span>Post</a>
        <a class="dropdown-item" href="#e-put">
            <span class="material-icons">edit</span>Put</a>
        <a class="dropdown-item" href="#e-delete">
            <span class="material-icons">delete</span>Delete</a>
    </div>
</div>

<section th:fragment="equipments-docs" id="equipment-doc" class="col">
    <header class="hidden"><h1>Equipment Documentation</h1></header>
    <article id="e-get" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Get Equipments</h2>
            <p>To obtain all the equipment, a request must be made to get to the route <span
                    class="badge badge-dark">/equipments</span>. You can optionally specify the id
                of
                the equipment to look. For example: <span
                        class="badge badge-dark">/equipments/1</span>.</p>

            <div class="table-data">
                <h4>Returned data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Meaning</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>identification</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>String</td>
                        <td>model name</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>model price</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl <a
                    href="https://car-factory-api.herokuapp.com/equipments"
                    target="_blank">https://car-factory-api.herokuapp.com/equipments</a>
                | jq</p>
            <pre>[{"id":1,"name":"Techo corredizo","price":12000.0},{"id":2,"name":"Aire acondicionado","price":20000.0},{"id":3,"name":"Sistema de frenos abs","price":14000.0},{"id":4,"name":"Airbag","price":7000.0},{"id":5,"name":"Llantas de aleacion","price":12000.0}]</pre>
        </div>
    </article>

    <article id="e-post" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Post Equipments</h2>
            <p>To save a equipment you only need to post to <span
                    class="badge badge-dark">/equipments</span> with the data in the body of
                the
                request.</p>
            <p>To create a new equipment you only need to send the name and the price in the body of
                the
                request.</p>

            <div class="table-data">
                <h4>Expected data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Importance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>name</td>
                        <td>String</td>
                        <td>required</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>required</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --header "Content-Type:
                application/json" --request POST --data '{"name": "Front inner fender liners",
                "price": 125.99 }'
                http://car-factory-api.herokuapp.com/equipments
                | jq</p>
            <pre>{"id":6,"name":"Front inner fender liners","price":125.99}</pre>
        </div>
    </article>

    <article id="e-put" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Put Equipments</h2>
            <p>To update a equipment you only need to send a put request to <span
                    class="badge badge-dark">/equipments</span> indicating the id. For example:
                <span class="badge badge-dark">/equipments/6</span>.</p>
            <p class="comment">* The body of the request follows the same pattern as the post
                method.</p>

            <div class="table-data">
                <h4>Expected data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Importance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>name</td>
                        <td>String</td>
                        <td>required</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>required</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --header "Content-Type:
                application/json" --request PUT --data '{"name": "Front inner fender liners",
                "price": 150.65 }'
                http://car-factory-api.herokuapp.com/equipments/6
                | jq</p>
            <pre>{"id":6,"name":"Front inner fender liners","price":150.65}</pre>
        </div>
    </article>

    <article id="e-delete" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Delete Equipments</h2>
            <p>To delete a equipment, it is only necessary to make a delete request to the url <span
                    class="badge badge-dark">/equipments/</span> indicating the id. For example:
                <span class="badge badge-dark">/equipments/1</span>.</p>
        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --request DELETE <a
                    href="http://car-factory-api.herokuapp.com/equipments/6"
                    target="_blank">http://car-factory-api.herokuapp.com/equipments/6</a>
            </p>
            <pre>"OK"</pre>
        </div>
    </article>
</section>