<!--suppress XmlUnboundNsPrefix -->
<a th:fragment="collapse-controll" class="collapse-control list-group-item list-group-item-action"
   data-toggle="collapse"
   href="#general-collapse" role="button">General</a>

<div th:fragment="collapse-menu" class="collapse" id="general-collapse">
    <a class="paginate-item list-group-item list-group-item-action" href="#g-start">
        <span class="material-icons">label</span>Get started</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#g-car">
        <span class="material-icons">directions_car</span>Car</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#g-model">
        <span class="material-icons">style</span>Model</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#g-equipment">
        <span class="material-icons">layers</span>Equipment</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#g-stats">
        <span class="material-icons">info</span>Statistics</a>
</div>

<div th:fragment="mobile-menu" class="btn-group">
    <button type="button" class="btn btn-light">General</button>
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#g-start">
            <span class="material-icons">label</span>Get started</a>
        <a class="dropdown-item" href="#g-car">
            <span class="material-icons">directions_car</span>Car</a>
        <a class="dropdown-item" href="#g-model">
            <span class="material-icons">style</span>Model</a>
        <a class="dropdown-item" href="#g-equipment">
            <span class="material-icons">layers</span>Equipment</a>
        <a class="dropdown-item" href="#g-stats">
            <span class="material-icons">info</span>Statistics</a>
    </div>
</div>

<section th:fragment="general-docs" id="general-doc" class="col">
    <header class="hidden">
        <h1>General</h1>
    </header>
    <article id="g-start" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Get started</h2>
            <p>The car factory api provides quick and easy access to raw methods. View,
                create,
                modify, and
                delete available cars, models, and options.</p>

            <p class="comment">* This page is kept as current as possible, but you can find the latest updates on the module <a href="https://car-factory-api.herokuapp.com/swagger-ui.html" target="_blank">swagger</a>.</p>
        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <!-- use pre tag for json format -->
            <!-- Pattern: <p><strong>user@api</strong>:<span>~</span>$ text </p> -->
            <p class="comment"># use jq to better visualize the data </p>
            <br>
            <p><strong>user@api</strong>:<span>~</span>$ sudo apt install jq </p>
            <p>...</p>
            <p>jq - commandline JSON processor</p>
        </div>
    </article>

    <article id="g-car" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Car data model</h2>
            <p>The car data model is made up of an ID, price, model and its current
                equipment. </p>
            <div class="table-data">
                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Meaning</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>identification</td>
                    </tr>
                    <tr>
                        <td>model</td>
                        <td>Model</td>
                        <td>car model</td>
                    </tr>
                    <tr>
                        <td>equipment</td>
                        <td>Array&lt;Equipment&gt;</td>
                        <td>current equipment</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <!-- use pre tag for json format -->
            <!-- Pattern: <p><strong>user@api</strong>:<span>~</span>$ text </p> -->
            <br><br>
            <p><strong>user@api</strong>:<span>~</span>$ curl <a
                    href="http://car-factory-api.herokuapp.com/cars/1"
                    target="_blank">http://car-factory-api.herokuapp.com/cars/1</a> | jq
            </p>
            <pre>{"id":1,"price":302000.0,"model":{"id":3,"name":"COUPE","price":270000.0},"equipments":[{"id":2,"name":"Aire acondicionado","price":20000.0},{"id":5,"name":"Llantas de aleacion","price":12000.0}]}</pre>
        </div>
    </article>

    <article id="g-model" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Model data model</h2>
            <p>The data model consists of three fields, identification, name and price.</p>

            <div class="table-data">
                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Meaning</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>identification</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>string</td>
                        <td>model name</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>model price</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <!-- use pre tag for json format -->
            <!-- Pattern: <p><strong>user@api</strong>:<span>~</span>$ text </p> -->
            <br><br>
            <p><strong>user@api</strong>:<span>~</span>$ curl <a
                    href="http://car-factory-api.herokuapp.com/models/2"
                    target="_blank">http://car-factory-api.herokuapp.com/models/2</a> | jq
            </p>
            <pre>{"id":2,"name":"FAMILY","price":245000.0}</pre>
        </div>
    </article>

    <article id="g-equipment" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Equipment data model</h2>
            <p>The data model for the equipment is similar to that of Model.</p>

            <div class="table-data">
                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Meaning</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>identification</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>string</td>
                        <td>equipment name</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>equipment price</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <!-- use pre tag for json format -->
            <!-- Pattern: <p><strong>user@api</strong>:<span>~</span>$ text </p> -->
            <br><br>
            <p><strong>user@api</strong>:<span>~</span>$ curl <a
                    href="http://car-factory-api.herokuapp.com/equipments/5"
                    target="_blank">http://car-factory-api.herokuapp.com/equipments/5</a> |
                jq
            </p>
            <pre>{"id":5,"name":"Llantas de aleacion","price":12000.0}</pre>
        </div>
    </article>

    <article id="g-stats" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Get Stadistics</h2>
            <p>To obtain the general statistics of the api, all you need to do is get a request to
                the path <span class="badge badge-dark">/stats</span>.</p>

            <div class="table-data">
                <h4 class=".d-none .d-sm-block">Returned data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Meaning</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>count_car</td>
                        <td>Integer</td>
                        <td>total number of cars</td>
                    </tr>
                    <tr>
                        <td>count_[model_name]</td>
                        <td>Integer</td>
                        <td class=".d-sm-none .d-md-block">number of cars with this model</td>
                    </tr>
                    <tr>
                        <td>percent_[model_name]</td>
                        <td>Integer</td>
                        <td>percentage of cars of this model</td>
                    </tr>
                    <tr>
                        <td>count_[short_equipment_name]</td>
                        <td>Integer</td>
                        <td>number of cars with this equipment</td>
                    </tr>
                    <tr>
                        <td>percent_[short_equipment_name]</td>
                        <td>Integer</td>
                        <td>percent of cars with this equipment</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl <a
                    href="https://car-factory-api.herokuapp.com/stats"
                    target="_blank">https://car-factory-api.herokuapp.com/stats</a>
                | jq</p>
            <pre>{"count_car":1,"count_sedan":1,"percent_sedan":100,"count_family":0,"percent_family":0,"count_coupe":0,"percent_coupe":0,"count_tc":1,"percent_tc":100,"count_aa":1,"percent_aa":100,"count_sdfa":0,"percent_sdfa":0,"count_a":0,"percent_a":0,"count_lda":1,"percent_lda":100}</pre>
        </div>
    </article>

</section>