<!--suppress XmlUnboundNsPrefix -->
<a th:fragment="collapse-controll" class="collapse-control list-group-item list-group-item-action"
   data-toggle="collapse"
   href="#models-collapse" role="button">Models</a>

<div th:fragment="collapse-menu" class="collapse" id="models-collapse">
    <a class="paginate-item list-group-item list-group-item-action" href="#m-get">
        <span class="material-icons">search</span>Get</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#m-post">
        <span class="material-icons">note_add</span>Post</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#m-put">
        <span class="material-icons">edit</span>Put</a>
    <a class="paginate-item list-group-item list-group-item-action" href="#m-delete">
        <span class="material-icons">delete</span>Delete</a>
</div>

<div th:fragment="mobile-menu" class="btn-group">
    <button type="button" class="btn btn-light">Models</button>
    <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu" style="">
        <a class="dropdown-item" href="#m-get">
            <span class="material-icons">search</span>Get</a>
        <a class="dropdown-item" href="#m-post">
            <span class="material-icons">note_add</span>Post</a>
        <a class="dropdown-item" href="#m-put">
            <span class="material-icons">edit</span>Put</a>
        <a class="dropdown-item" href="#m-delete">
            <span class="material-icons">delete</span>Delete</a>
    </div>
</div>

<section th:fragment="models-docs" id="models-doc" class="col">
    <header class="hidden"><h1>Model Documentation</h1></header>
    <article id="m-get" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Get Models</h2>
            <p>To obtain all the models, a request must be made to get to the route <span
                    class="badge badge-dark">/models</span>. You can optionally specify the id of
                the model to look. For example: <span class="badge badge-dark">/models/1</span>.</p>

            <div class="table-data">
                <h4>Returned data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Meaning</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>id</td>
                        <td>Integer</td>
                        <td>identification</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>String</td>
                        <td>model name</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>model price</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl <a
                    href="https://car-factory-api.herokuapp.com/models"
                    target="_blank">https://car-factory-api.herokuapp.com/models</a>
                | jq</p>
            <pre>[{"id":1,"name":"SEDAN","price":230000.0},{"id":2,"name":"FAMILY","price":245000.0},{"id":3,"name":"COUPE","price":270000.0}]</pre>
        </div>
    </article>

    <article id="m-post" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Post Models</h2>
            <p>To save a model you only need to post to <span
                    class="badge badge-dark">/models</span> with the data in the body of the
                request.</p>
            <p>To create a new model you only need to send the name and the price in the body of the
                request.</p>

            <div class="table-data">
                <h4>Expected data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Importance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>name</td>
                        <td>String</td>
                        <td>required</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>required</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --header "Content-Type:
                application/json" --request POST --data '{"name": "SPORTS", "price": 350000 }'
                http://car-factory-api.herokuapp.com/models
                | jq</p>
            <pre>{"id":4,"name":"SPORTS","price":350000.0}</pre>
        </div>
    </article>

    <article id="m-put" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Put Models</h2>
            <p>To update a model you only need to send a put request to <span
                    class="badge badge-dark">/models</span> indicating the id. For example: <span
                    class="badge badge-dark">/models/4</span>.</p>
            <p class="comment">* The body of the request follows the same pattern as the post
                method.</p>

            <div class="table-data">
                <h4>Expected data structure</h4>

                <table class="table table-hover mt-3">
                    <thead>
                    <tr>
                        <th scope="col">Key</th>
                        <th scope="col">Type</th>
                        <th scope="col">Importance</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>name</td>
                        <td>String</td>
                        <td>required</td>
                    </tr>
                    <tr>
                        <td>price</td>
                        <td>Double</td>
                        <td>required</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --header "Content-Type:
                application/json" --request PUT --data '{"name": "SPORTS", "price": 400000 }'
                http://car-factory-api.herokuapp.com/models/4
                | jq</p>
            <pre>{"id":4,"name":"SPORTS","price":400000.0}</pre>
        </div>
    </article>

    <article id="m-delete" class="row paginate-target">
        <div class="col-sm-12 col-md-6 col-lg-6 pt-5">
            <h2>Delete Models</h2>
            <p>To delete a model, it is only necessary to make a delete request to the url <span
                    class="badge badge-dark">/models/</span> indicating the id. For example: <span
                    class="badge badge-dark">/models/1</span>.</p>
        </div>
        <div class="terminal col-sm-12 col-md-6 col-lg-6">
            <p><strong>user@api</strong>:<span>~</span>$ curl --request DELETE <a
                    href="http://car-factory-api.herokuapp.com/models/4"
                    target="_blank">http://car-factory-api.herokuapp.com/models/4</a>
            </p>
            <pre>"OK"</pre>
        </div>
    </article>
</section>