@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

:root {
    /* Colo schema */
    --black: #282a36;
    --white: #ffffff;
    --pearl: #f8f8f2;
    --grey: #44475a;
    --cyan: #8be9fd;
    --green: #50fa7b;
    --orange: #ffb86c;
    --pink: #ff79c6;
    --purple: #bd93f9;
    --indigo: #6272a4;
    --red: #ff5555;
    --yellow: #f1fa8c;
    --st-tropaz: #234099;
    /* Color combination */
    --paginate-bg: var(--pearl);
    --content-bg: var(--white);
    --terminal-bg: var(--black);
    --current-line: var(--grey);
    --selection: var(--grey);
    --foreground: var(--pearl);
    --comment: var(--st-tropaz);
    --font-color: var(--white);
}

::selection {
    background: var(--selection);
    color: var(--pearl);
}

#content {
    font-family: 'Roboto', sans-serif;
    background: var(--content-bg);
    color: var(--black);
    position: relative;
    overflow: auto;
    scroll-behavior: smooth;
    height: 100vh;
}

#pagination {
    font-size: 0.85em;
    background: var(--paginate-bg);
    max-height: 100vh;
    overflow-y: scroll;
}

#pagination::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */

#pagination::-webkit-scrollbar-thumb {
    background: var(--pearl);
}

#pagination .list-group-item.active {
    background-color: var(--indigo);
    border-color: var(--indigo);
    transition-duration: 100ms;
    box-shadow: inset 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

#pagination .list-group-item .material-icons {
    padding-right: 0.20em;;
    vertical-align: middle;
    font-size: 1.20em;
}

#pagination .collapse {
    transition-duration: 500ms;
}

#pagination .collapse-control {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
}

.paginate-target {
    min-height: 60vh;
}

.terminal {
    font-family: 'Inconsolata', monospace;
    background: var(--terminal-bg);
    font-size: 0.85em;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

.terminal .comment {
    color: var(--comment);
}

.terminal p, .terminal pre {
    color: var(--font-color);
    margin-bottom: 0;
}

.terminal pre .key {
    font-weight: normal;
    color: var(--cyan);
}

.terminal pre .number {
    font-weight: normal;
    color: var(--pink);
}

.terminal pre .string {
    font-weight: normal;
    color: var(--purple);
}

.terminal strong {
    font-weight: bolder;
    color: var(--green);
}

.terminal span {
    font-weight: bolder;
    color: var(--cyan);
}

.terminal a {
    font-weight: normal;
    text-decoration: underline;
    color: var(--indigo);
}

.comment {
    color: var(--grey);
}

.hidden {
    display: none;
}

#mobile-navbar {
    width: 100%;
    font-size: 1.2em;
    background: var(--paginate-bg);
}

#mobile-navbar .dropdown-menu {
    background-color: var(--pearl);
}

#mobile-navbar .dropdown-item {
    font-size: 1.2em;
}

#mobile-navbar .material-icons {
    padding-right: 0.5em;
    vertical-align: middle;
    font-size: 1.5em;
}

#mobile-navbar ul {
    padding-inline-start: 0;
}

@media (max-width: 992px) {
    #content {
        margin-top: 3em;
        height: 100%;
    }

    .table-data {
        display: none;
    }
}